:root{
    --color-ten:#917056;
    --color-nav:#373737;
    --color-blacktitle: #333;
    --color-blackfont:#555;
    --color-whitefont:#eee;
    --color-whitetitle:#fff;
    --color-logofont:#aaa;
}
body,p,div,ul,ol,li{
    padding:0;
    margin:0;
}
ul,ol,li{
    list-style: none;
}
a{
    text-decoration: none;
    color:inherit
}
.active{
    background: white
    !important;
    color:black
    !important
}